body
{
   background-color:#DCFFF5;
   padding: 10px;
}
@font-face
{
   font-family: "caveat font";
   src:url('caveat.ttf') format('truetype');
   font-family: "itim font";
   src: url('itim.ttf') format('truetype');
   font-family: "aclonica font";
   src:url('aclonica.ttf') format('truetype');
}
h1
{
   position: relative;
   letter-spacing: 3px;
   font-size: 60px;
   font-family:'caveat';
   font-weight: bolder;
   color: #343235;
}
#paw
{
   height: 100px;
   width: 100px;
}
nav
{
   font-size: x-large;
   letter-spacing: 1px;
   float: right;  
   margin-right: 5px;
   border: 2px black double;
   padding: 10px;
   background-color: #fdab9f;
}
a
{
   text-decoration: none;
   color:black;
}
a:hover
{
   text-decoration:underline;
   color:#ff686b;
}
.carousel-inner img 
{
   width: 100%;
   height: 100%;
   display:block;
   margin-left: auto;
   margin-right: auto;
}
footer
{
   background-color: #fdab9f;
   margin-left: 20px;
   margin-right: 20px;
   padding-top: 15px;
   padding-left: 60px;
   padding-right: 30px;
   padding-bottom: 15px;
   height: auto;
}
.care
{
   width: 90px;
   height: 90px;
   position: static;

}
h2
{
   font-family: Arial, Helvetica, sans-serif;
}
.quotes 
{
   font-family:"Comic Sans MS", cursive, sans-serif;
   font-size: 35px;
   text-align: center;
   padding: 40px;
   margin-left: 50px;
   margin-right: 50px;
}
ul
{
   list-style-type: none;
}


img
{
   position: relative;
   width: 460px;
   height: 250px;
}
figure
{
   border: 3px #264653 solid;
   padding: 10px
}
#lab, #beagle, #havanese, #morkie, #engbull, #dolly, #fincher, #jill, #razor, #ronan
{
   float: left;
   margin-left:6%;
}
#husky, #goldlab, #shihtzu, #yorkiepoo, #russell, #emma, #jax, #oreo, #river, #zora
{
   float:right;
   margin-right:6%;
}
figcaption
{
   text-align: center;
   font-family:'itim';
   font-weight: bolder;
   font-size: medium;
   letter-spacing: 3px;
   color: #264653;
}


