body
{
   background-color: cornsilk;
   padding: 10px;
}
header
{
   background-color: darksalmon;
   margin-left: 30px;
   margin-right: 30px;
   margin-top: 10px;
   height:175px;  
   padding-top: 50px;

}
nav
{
   font-size: x-large;
   letter-spacing: 1px;
   float: right;  
   margin-right: 30px;
}
ul
{
   list-style-type: none;
}
.carousel-inner img 
{
   width: 70%;
   height: 70%;
   display:block;
   margin-left: auto;
   margin-right: auto;
}
footer
{
   background-color: darksalmon;
   margin-left: 30px;
   margin-right: 30px;
   padding-top: 15px;
   padding-left: 30px;
   padding-right: 30px;
}
body.dogpage   
{
   background-color: #b4fadc;
}
@font-face
{
   font-family: "caveat font";
   src:url('caveat.ttf') format('truetype');
   font-family: "itim font";
   src: url('itim.ttf') format('truetype');
}
header.dogpage
{
background-color: #ff5d8f;
height:125px;
margin-left: 50px;
margin-right: 50px;
margin-top: 10px;
margin-bottom: 10px;
padding: 10px;
}
footer.dogpage
{
   background-color: #ff5d8f;
   height:175px;
   clear:left;
}
h1
{
   position: relative;
   text-align: center;
   letter-spacing: 4px;
   font-size: 50px;
   font-family:'itim';
   color: #343235;
}

a
{
   text-decoration: none;
   color:black;
}
a:hover
{
   text-decoration: underline;
   color: fuchsia;
}

img
{
   position: relative;
   width: 460px;
   height: 250px;
}
figure
{
   border: 5px #264653 solid;
   padding: 10px
}
#lab, #beagle, #havanese, #morkie, #engbull, #dolly, #fincher, #jill, #razor, #ronan
{
   float: left;
   margin-left:6%;
}
#husky, #goldlab, #shihtzu, #yorkiepoo, #russell, #emma, #jax, #oreo, #river, #zora
{
   float:right;
   margin-right:6%;
}
figcaption
{
   text-align: center;
   font-family:'itim';
   font-weight: bolder;
   font-size: medium;
   letter-spacing: 3px;
   color: #264653;
}